* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "PixelOperator";
    src: url(../fonts/PixelOperator.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --bs-primary: #542350 !important;
    --bs-body-font-family: "PixelOperator";
    --bs-primary-subtle: #d9bcd8 !important;
}

body {
    font-family: "PixelOperator", sans-serif;
    color: var(--bs-primary);
    font-size: 20px;
}

nav {
    background-color: var(--bs-primary);
}

nav img {
    width: 20rem;
}

.greeting {
    background-color: var(--bs-primary-subtle);
    width: 100%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    font-size: 20px;
}

.greeting img {
    width: 500px;
}

.projects {
    background-color: var(--bs-primary-subtle);
    padding-top: 3rem;
}

.projects a {
    color: var(--bs-primary);
}

.technologies {
    margin-top: 2rem;
    padding-top: 3rem;
    display: flex;
    gap: 2rem;
}

.technologies__logos {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

}

.technologies__logo {
    height: 5rem;
    filter: grayscale(100%);
    transition: filter 0.8s ease, scale 0.3s ease;
    transition: transform 0.8s ease, scale 0.3s ease;
}

.technologies__logo:hover {
    transform: scale(1.1);
    filter: none;
}

.education {
    background-color: var(--bs-primary-subtle);
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.education__logo {
    height: 3rem;
}

.contact a{
    text-decoration: none;
    color: #542350;
}

footer{
    background-color: var(--bs-primary-subtle);
    padding: 50px;
}

body.dark-mode {
    --bs-primary: #f0d8ff !important;
    --bs-primary-subtle: #2c112b !important;
    color: #f0d8ff;
    background-color: #121212;
}

body.dark-mode nav,
body.dark-mode .greeting,
body.dark-mode .projects,
body.dark-mode .education,
body.dark-mode footer {
    background-color: var(--bs-primary-subtle);
}

body.dark-mode a {
    color: #f0d8ff;
}


@media (min-width: 767px) {
    .greeting{
        display: grid;
        grid-template-columns: 1fr 6fr;
    }

    .greeting img{
        width: 20rem;
    }


}

@media (min-width: 1025px) {
    .greeting-about-me{
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-self: center;
        width: 1000px;
    }

    .greeting{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}